*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.productItem {
    display: flex;
    flex-direction: column;
    width: 230px;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid orange;
    background: gray;
    align-items: center;
  }

  .addToBasket {
    background: orange;
    border-radius: 15px;
  }

  .basketContainerModal {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(185, 185, 185, 0.459);
  }

  .basket {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .basketImg {
    width: 100px;
    height: 100px;
  }

  .text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

  }

  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active,
  .dot:hover {
    background-color: #717171;
  }
#SliderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
#SliderContainer > .sliderImages {
    display: flex;
    height: 720px;
    width: 1280px;
}

#SliderContainer > .sliderImages > .slide {
    max-width: 1280px;
    position: absolute;
    opacity: 0;
    height: 720px;
    transition: opacity 1s linear;
    z-index: 10;
}
#SliderContainer > .sliderImages > .slide a {
  display: flex;
  height: 720px;
}
#SliderContainer > .sliderImages > .slide > img {
    max-width: 1280px;
}
#SliderContainer > .sliderImages > .slide.active {
    opacity: 1;
    z-index: 20;
}
#SliderContainer > .arrow {
    line-height: 100%;
    cursor: pointer;
    user-select: none;
    z-index: 100;
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    transition: all .6s ease;
}
#SliderContainer > .arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#SliderContainer > .arrow.arrowLeft {
  left: 0;
  border-radius: 3px 0 0 3px;
}
#SliderContainer > .arrow.arrowRight {
  right: 0;
}
  
#ProductContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#BasketContainer {
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-radius: 15px;
  background: gray;
}

#BasketContainer span {
  border: 1px solid orangered;
  background: orange;
  padding: 0 10px;
}

#BasketClose {
  background: orange;
}